/* INICIO SOBRE PROJETO */

body {
    background-color: #0000;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgba(47, 58, 78, 1);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: background-color 1.0s ease;
}

.header-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a{
    text-decoration: none;
    color: #FBAF00;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 15px;
    color: #FBAF00;
}

.titulo {
    color: #FBAF00;
}

.banner {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://blog4.mfrural.com.br/wp-content/uploads/2020/12/silos-agricolas.jpg.webp");
    background-position: 70% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: end;
    height: 350px;
    color: #F9F9F7;
    padding-top: 60px
}

.banner-container {
    width: 40%;
}

.banner-container p{
    margin-right: 150px;
    font-size: 36px;
    text-align: right;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.conteudo {
    background-color: #8AA032;
    display: flex;
    flex-direction: row;
    height: 640px;
    padding: 40px;
}

.conteudo-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-left: 35px;
    width: 50%;
    text-align: justify;
}

.texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.texto1 h1 {
    font-size: 38px;
    align-self: flex-start;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.texto2-3 {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    gap: 10px;
}

.texto2-3 p {
    margin: 0;
}

.texto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.texto2 h2 {
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.texto3 h2 {
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.texto3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.imagem2 {
    display: flex;
    width: 50%;
}
.imagem2 img {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    height: 600px;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    transform: scale(0.8);
}

.button-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.button {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FBAF00;
    border: 1px solid black;
    color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 300px;
    height: 60px;
    margin: 20px;
}

/* COPIEI O DE CIMA E PINTEI DE BRANCO - G */
.conteudoS {
    background-color:#fff;
    margin: auto;
    padding: auto;
}

/* containerS DE SERVIÇO - SPACEBETWEEN FAZ EU CONSEGUI MEXER O TEXTO N SEI PQ - G */
.containerS {
    display: flex;
    justify-content: space-between;
    width: 90%; 
    margin: 50px auto; 
}

.conteudoP {
    background-color: #fff;
    margin: auto;
    padding: 100px;
    height: 450px;
}

.conteudoP .containerP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.texto1P {
    text-align: center; 
    margin: 0 auto; 
    width: 700px; 
}

.texto2P{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 33%;
}

.texto3P{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.containerMvv {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.conteudoP .texto1P h1, 
.conteudoP .texto2P h2, 
.conteudoP .texto3P h2, 
.conteudoP .texto4P h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoP .imagem img {
    width: 50px;
    position: relative;
    top: 2px;
}

/* FIM DO SOBRE PROJETO */

.conteudo .container .texto3 h2 {
    font-size: 35px;
    margin-bottom: 5px;
}

.conteudo .container .texto3 p {
    margin-top: 5px;
}

/* TEXTO DO SERVIÇO - EU N SEI O QUE É ORDER MAS FEZ O TEXTO FICAR NA DIREITA - G */
.conteudoS .containerS .textoS {
    order: 1;
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoS .containerS .textoS h1 {
    margin: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.textoS p {
    width: 80%;
    margin: 5px;
}

.p-servicos {
    font-weight: bolder;
}

.imagem1 {
    display: flex;
    width: 50%;
}

/* IMAGEM, INVERTI AS BORDAS E DEU CERTO - G  */
.conteudoS .containerS .imagem1 img {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 575px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
}



.button:hover {
    background-color: #2F3A4E;
    color: #FBAF00;
}


/* BOTAO DE SERVIÇOS - COPIEI O DE CIMA E FIZ MUDANÇAS PRA DESCER - G */
.button1 {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FBAF00;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 300px; 
    height: 60px;
    margin-top: 30px;
}
/* PARTE DO QUE COPIEI */
.button1:hover {
    background-color: #2F3A4E;
    color: #FBAF00;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #2F3A4E;
    height: 150px;
    color: rgb(251, 175, 0);
    display: flex;
    font-size: 15px;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center; }

.fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fale-conosco p {
    padding-top: 15px;
    font-size: 18px;
    margin: 0;
}

.a-fale-conosco {
    text-decoration: none;
    color: inherit;
}

/* Centraliza o conteúdo e ajusta a margem e espaçamento */
main.conteudo {
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p1/30709545-grao-silos-dentro-a-meio-do-largo-verde-campos-em-uma-ensolarado-dia-generativo-ai-gratis-foto.jpg'); /* Caminho da imagem */
    background-size: cover; 
    background-position: center;
    background-attachment: fixed; 
    width: 100%;
    height: 100vh;
    background-color: #8AA032;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main.conteudo .containerLogin {
    height: auto;
    background-color: rgba(47, 58, 78, 0.948);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}
main.conteudo .containerCadastro {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: rgba(47, 58, 78, 0.948);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

main.conteudo form {
    display: flex;
    position: relative;
    top: -50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: scale(0.8);
}

main.conteudo label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ffffffec;
    align-self: flex-start;
}

.tittleLog {
    color: #ff9800; 
    font-weight: bold; 
    font-size: 30px;
    border-radius: 1px;
}

.subTittle {
    display: flex;
    align-self: flex-start;
    color: #ff9800;
    font-weight: bold;
    border-radius: 1px;
}


/* é nesse aqui pra fazer a validação em vermelho*/
main.conteudo .input {
    width: 95%;
    padding: 12px;
    margin-bottom: 12px;
    background-color:  rgba(47, 58, 78, 0.948);
    color: #ffffffd9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

main.conteudo .subcontainer{
    display: flex;
}
main.conteudo .subcontainer input {
    /* width: 95%; */
    padding: 12px;
    margin-bottom: 5px;
    margin: 10px;
    background-color:  rgba(47, 58, 78, 0.948);
    color: #ffffffd9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
main.conteudo button[type="submit"] {
    background-color: #ff9800;
    border: none;
    color: black;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

main.conteudo button[type="submit"]:hover {
    background-color:  rgba(47, 58, 78, 0.948);
    color: #ff9800;
}

#divError {
    color: #ffffff;
    text-shadow: 3px 3px 1px rgb(255, 0, 0);
}
#divErrorLogin {
    color: #ffffff;
    text-shadow: 3px 3px 1px rgb(255, 0, 0);
}

main.conteudo p {
    margin: 2px;
    font-size: 14px;
}

main.conteudo a {
    text-decoration: none;
    color: #ff9800;
    transition: color 0.3s ease-in-out;
}

main.conteudo a:hover {
    color: #333;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px; 
    width: 100%;


} #button_login, 
#button_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9800;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button_login:hover,
#button_cadastro:hover {
    background-color: #303a4e;
    color: #ff9800;
    font-weight: bold;
}

.span_center {
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    margin: 10px;
    
}

/* retirar navbar da tela de login e cadastro */
body.login-page .navbar,
body.cadastro_page .navbar {
    display: none;
}

/* ESTILIZAÇÃO SOBRE/ TIME */

.container-time {
    background-color: #ff9800;
    height: 1200px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 50, 32);
    padding-top: 60px;
    padding-left: 64px;
    padding-right: 64px;
}


.card-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 480px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 33.3%;
    padding-top: 60px;
    transform: scale(0.9)
}

.card span {
    padding-top: 25px;
    font-size: 24px;
    font-weight: bold;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-self: center;
}

.texto-card {
    padding: 40px;
    width: 80%;
}

/* ESTILIZAÇÃO FALE CONOSCO */

.container-faleC {
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p1/30709545-grao-silos-dentro-a-meio-do-largo-verde-campos-em-uma-ensolarado-dia-generativo-ai-gratis-foto.jpg'); /* Caminho da imagem */
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    background-color: #2F3A4E;
    border: 1px solid black;
    width: 100%;
    height: 854px;
}

.conteudo-faleC {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 500px;
    height: 600px;
    color: white;
    background-color: rgba(47, 58, 78, 0.948);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 120px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.conteudo-faleC h1 {
    font-size: 45px;
    color: #FBAF00;
}

.formularioFc {
    display: flex;
    flex-direction: column;
}

.formularioFc label p {
    display: flex;
    align-items: start;
}

.inputNomeEmail {
    width: 400px;
    height: 30px;
}

.inputMensagem {
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline: 0;
    width: 400px;
    height: 150px;
}

.buttonFc {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #FBAF00;
    border: 1px solid black;
    color: black;
    margin: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100px;
    height: 40px;
}

.buttonFc:hover {
    background-color: #2F3A4E;
    color: #FBAF00;
}